Checks: 'bugprone*,clang-analyzer*,cert*,cppcore*,misc*,modernize*,performance*,portability*,readability*,
        google*,-google-runtime-references,
        hicpp*,-hicpp-signed-bitwise,
        llvm*,-llvm-header-guard,
        -*-braces-around-statements'
FormatStyle:     file
CheckOptions:
      - key:     readability-implicit-bool-conversion.AllowIntegerConditions
        value:   '1'